{% extends 'MyInventoryApp/base.html' %}

{% block content %}
    <h2>Water Bottles</h2>

    <!--back button -->
    <div class="mb-3">
        <a href="{% url 'view_supplier' %}" class="btn btn-secondary">Back to Suppliers</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Brand</th>
                <th>Cost</th>
                <th>Size</th>
                <th>Mouth Size</th>
                <th>Color</th>
                <th>Supplied By</th>
                <th>Current Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for bottle in bottles %}
                <tr>
                    <td>
                        <a href="{% url 'view_bottle_details' pk=bottle.pk %}">
                            {{ bottle.sku }}
                        </a>
                    </td>
                    <td>{{ bottle.sku }}</td>
                    <td>{{ bottle.brand }}</td>
                    <td>{{ bottle.cost }}</td>
                    <td>{{ bottle.size }}</td>
                    <td>{{ bottle.mouth_size }}</td>
                    <td>{{ bottle.color }}</td>
                    <td>{{ bottle.supplied_by }}</td>
                    <td>{{ bottle.current_quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}